/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body { overflow-x: hidden; }
/*My Custom 29-4-2016*/

.nv_in_lst a { color: #2e2e2e; font-size: 13px; padding: 3px 5px; }
.nv_in_lst .pg_nv_lst a, .nv_in_lst b { font-size: 15px; margin-right: 2px; background: #f6f6f6; cursor: pointer; min-width: 20px; height: 30px !important; text-align: center; float: left; padding: 3px 5px; width: 30px !important; }
a.lnk_ftr { color: #fff !important; }
.info_tag a { color: #555 !important; }
.pg_nv_lst > a { padding: 5px !important; height: 22px !important; }
.nv_in_lst a:hover { color: #2e2e2e; font-size: 15px; padding: 3px 5px; }
.modal-dialog { float: none; left: 0; margin: 50px auto; right: 0; width: 430px; }
.modal-body > form { float: left; width: 100%; }
.modal-body .form-group { margin-bottom: 15px; width: 100%; }
.txt_itm.job_txt span { font-family: arial; font-size: 12px; }
div#hide canvas { height: 550px !important; display: block; width: 100%; }
.modal-body span a { font-size: 14px; }
.modal-header { border-bottom: 1px solid #e5e5e5; min-height: 16.4286px; padding: 15px; width: 100%; font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important; }
.ftr_pnt a { background-position: left -76px; height: auto !important; }
.ftr_fb a:hover, .ftr_tw a:hover, .ftr_pnt a:hover { color: #fff; }
.ftr_tw a { background-position: left -52px; height: auto !important; }
.ftr_fb a { background-position: left -30px; height: auto !important; }
div#keyword_autosggstn div { width: auto !important; }
.mdl_ftr { height: auto !important; }
.modal-footer { border-top: 1px solid #e5e5e5; padding: 20px; width: 100%; }
.info_tag { background: #ddd none repeat scroll 0 0; border-radius: 0.3em; color: #555; display: inline-block; margin-right: 0; max-width: 250px; overflow: hidden; padding: 0.2em 0.7em; text-overflow: ellipsis; white-space: nowrap; font-family: arial; font-size: 12px; }
/*My Custom 29-4-2016*/

p { font-size: 20px; }
p.small { font-size: 16px; }
a.lnk_ftr:hover { color: #fff !important; text-decoration: underline; }
hr.star-light, hr.star-primary { margin: 25px auto 30px; padding: 0; max-width: 250px; border: 0; border-top: solid 5px; text-align: center; }
hr.star-light:after, hr.star-primary:after { content: "\f005"; display: inline-block; position: relative; top: -.8em; padding: 0 .25em; font-family: FontAwesome; font-size: 2em; }
hr.star-light { border-color: #fff; }
hr.star-light:after { color: #fff; background-color: #18bc9c; }
hr.star-primary { border-color: #2c3e50; }
hr.star-primary:after { color: #2c3e50; background-color: #fff; }
.img-centered { margin: 0 auto; }
section { text-align: center; color: #333; background: #fff; }
section .container { padding-top: 100px; padding-bottom: 50px; }
section img { display: block; margin: 0 auto 20px; }
section .intro-text .name { display: block; text-transform: uppercase; font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 2em; font-weight: 700; }
section .intro-text .skills { font-size: 1.25em; font-weight: 300; }
.input-lg, .form-horizontal .form-group-lg .form-control { height: auto; padding: 5px; font-size: 14px; border-radius: 0; border-width: 1px; }
section .container .intro-text .btn { padding: 5px 15px; margin-top: 3px; }
.listing section .container .intro-text .btn { margin-top: 0px; }
.listing section .container .intro-text .navbar-form { margin-bottom: 15px; }
section .container .intro-text .navbar-form .form-group { width: 25%; }
section .container .intro-text .navbar-form .form-group span { color: #acb6c0; font-size: 12px; }
section .container .intro-text .navbar-form .form-group input { width: 100%; border-bottom: 2px solid #dddddd; }
section .container .intro-text p { font-size: 14px; line-height: 28px; padding: 30px 0; color: #333; }
.navbar-default .navbar-nav > li > a { font-size: 12px; }
.navbar-default .secondnav { background: #f7f7f7; }
.navbar-default .secondnav ul { margin-bottom: 0; height: 40px; }
.navbar-default .secondnav ul li { display: inline-block; list-style: none; margin-right: 20px; }
.navbar-default .secondnav ul li a { font-size: 12px; line-height: 40px; color: #333; }
.navbar-default .secondnav ul li a.active, .navbar-default .secondnav ul li a:hover { color: #7cc243; text-decoration: none; }
ul.mobile { padding-left: 14px; list-style: none; }
ul.mobile li a { font-size: 12px; color: #383838; }
ul.mobile li a.active, ul.mobile li a:hover { color: #7cc243; text-decoration: none; }
.web { display: block; }
.mobile { display: none; }
.breadcrumb { font-size: 14px; border: 1px solid #ddd; }
select.input-lg { height: auto; margin-bottom: 10px; }
.dailyalert { background: #f7f7de; padding: 6px 10px; }
.dailyalert i, .filter i { margin-right: 5px; font-family: FontAwesome; font-style: normal; color: #7cc243; }
.dailyalert p { float: left; font-size: 16px; line-height: 26px; margin-right: 10px; margin-bottom: 0; }
.dailyalert .btn-default, .dailyalert .form-group { float: left; }
.dailyalert i { color: #333333; }
.dailyalert .btn { margin-left: 10px; padding: 3px 15px; background: #333333; border-color: #333333; }
.dailyalert .form-group { width: 35%; margin-bottom: 0; }
.joblists { font-size: 14px; padding: 10px 0; margin-top: 5px; border-top: 1px solid #ddd; }
.joblists a { font-size: 17px; color: #448a0b; font-weight: bold; }
.joblists a:hover { text-decoration: none; }
.joblists a span, .joblists em { color: #72351a; }
.joblists p { margin-bottom: 0; font-size: 14px; }
.joblists .btn { padding: 5px 9px; border: none; }
.joblists i { font-style: normal; }
.joblists i.fa-star-o { color: #FF0; margin-left: 0; }
.dailyalert .btn-default:hover, .dailyalert .btn-default:focus, .dailyalert .btn-default:active, .dailyalert .btn-default.activen, .joblists .apply:hover { background: #7cc243; border-color: #7cc243; }
.joblists .apply { background: #333333; border: none; }
.listing .modal-content { padding: 20px; }
.listing .modal-content h4 { font-weight: normal; border-bottom: 1px solid #ddd; padding-bottom: 20px; margin-bottom: 5px; text-transform: capitalize; }
.listing .modal-content p { font-size: 14px; }
.listing .modal-content .form-group, .listing .modal-content .form-group input { width: 100%; }
.listing .modal-content .form-group input { margin-bottom: 10px; }
.listing .modal-content .navbar-form .btn { display: inline-block; margin: 0 auto; padding: 5px 15px; }
.listing .modal-content span { font-size: 12px; }
/*.btn.btn-signin {background-color:#7cc243;   margin-top: 5px;  padding: 5px 10px;color:#fff; font-size:14px !important;}
.btn.btn-signin:hover, btn.btn-signin:focus{opacity:.8; background-color:#7cc243 !important;}*/
.btn.btn-signin { color: #000; background: none; display: inline-block; width: auto; padding: 10px 0px; line-height: 0px; font-size: 13px; margin-top: 2px; }
.btn.btn-signin .fa { padding-right: 4px; color: #000; }
.btn.btn-signin:hover { background: none; }
.btn-signup { border: solid 2px #000; height: 32px; padding: 0px 8px; margin-top: 2px; /* padding: 10px; */ font-size: 13px; background: none; color: #000; /* font-weight: bold; */ text-shadow: none; display: table-cell; border-radius: 3px; width: 75px; text-align: center; }
.btn-signup:focus { color: #333; }
.btn-signup a { color: #000!important; }
.btn-signup a:hover { color: #fff!important; }
.btn-signup:hover a { color: #fff!important; }
.btn-signup:hover { background: #000; color: white; border-color: #000; }
.filter .form-control.input-lg { width: 37%; line-height: 26px; }
.navbar-default { border-bottom: 1px solid #cccccc !important; }
a.close_btn { color: #F00; margin-left: 10px; }
.popup .close { color: #333; }
.popup label { text-align: left; display: block; }
.popup .modal-body .form-control { border-radius: 0; border-width: 1px; font-size: 14px; height: auto; padding: 5px; }
.popup .modal-dialog .modal-content { padding-left: 20px; padding-right: 20px; }
.container.detail { padding: 15px; }
.detail .heading { background: #f7f7f7; padding: 10px; text-transform: capitalize; }
.detail .address { padding-bottom: 10px; border-bottom: 1px solid #ddd; margin-bottom: 20px; }
.detail .address p { font-size: 14px; margin-bottom: 5px; }
.detail .address p i { font-family: FontAwesome; font-style: normal; margin-right: 3px; }
.detail .address p i.fa-map-marker { margin-left: 5px; }
.detail .address h4 { text-transform: capitalize; margin-bottom: 7px; font-weight: 400; }
.detail .address span { font-size: 12px; }
.detail .button { text-align: right; margin-top: 15px; }
.detail .button i { font-family: FontAwesome; font-style: normal; margin-right: 3px; }
.detail .button .btn { padding: 5px 15px; }
.detail .button .savebtn { background: #333; border-color: #333; }
.detail .button .savebtn:hover { background: #72351a; border-color: #72351a; }
.detail .button .sharebtn { background: #72351a; border-color: #72351a; }
.detail .button .sharebtn:hover { background: #7cc243; border-color: #7cc243; }
.text-warning:hover { color: #7cc243 !important; }
.job_details { margin-bottom: 15px; border-bottom: 1px solid #ddd; }
.job_details h6 { text-transform: capitalize; }
.job_details p { font-size: 14px; margin-bottom: 15px; }
.job_details ul { font-size: 14px; margin-bottom: 20px; }
.job_details ul li { margin-bottom: 10px; }
.job_details .applybtn { padding: 8px 20px; margin-bottom: 10px; margin-top: 30px; }
.job_details .button_area { border: 1px solid #ddd; }
.job_details .button_area p { margin-bottom: 30px; }
.job_details .detail_b { padding-bottom: 20px; }
.job_details .view_link { font-size: 14px; color: #448a0b; }
.job_details .view_link i { font-family: FontAwesome; font-style: normal; margin-right: 3px; }
.bottom_btn .applybtn i { font-family: FontAwesome; font-style: normal; margin-right: 3px; }
.container.login .intro-text .navbar-form .form-group { width: 40%; padding: 20px; background: #f7f7f7; border: 1px solid #ddd; }
.container.login .intro-text .navbar-form .form-group input { margin-bottom: 15px; }
.container.login .intro-text .navbar-form .btn { background: #7cc243; border-color: #7cc243; padding: 5px 40px; margin-bottom: 10px; }
.container.login .intro-text .navbar-form .btn:hover { opacity: .9; }
.container.login .intro-text .navbar-form p { font-size: 16px; display: inline-block; margin: 5px 0; padding: 0; line-height: 20px; }
.table-responsive i { font-family: FontAwesome; font-style: normal; font-size: 12px; cursor: pointer; float: right; }
.social_icon { }
.social_icon a img { width: 40px; height: 40px; display: inline-block; margin: 5px; opacity: 1; -webkit-transition: all 0.7s ease; transition: all 0.7s ease; }
.social_icon a img:hover { -webkit-box-shadow: 0px 0px 15px 15px #fff; box-shadow: 0px 0px 15px 15px #fff; border-radius: 50%; opacity: 0.8; -webkit-transform: rotate(720deg); transform: rotate(720deg); }
.navbar-form i { font-family: FontAwesome; font-style: normal; margin-right: 3px; }
.sign_left form label { margin-top: 15px; }
.sign_left form .btn { padding: 8px 15px; margin-top: 15px; }
.sign_right { border: 1px solid #a9abab; background: #f7f7f7; padding-top: 10px; }
.sign_right .social_icon p { font-size: 14px; margin: 15px 0; }
.navbar-brand { height: 60px; }
.navbar-nav > li > a { line-height: 30px; }
.sign_right.alert_box { padding: 0 30px 30px; margin-top: 20px; }
.sign_right.alert_box h3 { text-transform: capitalize; }
.sign_right.alert_box .btn { padding: 6px 15px; }
.sign_right.alert_box input { margin-bottom: 10px; }
h3.create_alert { text-align: center; margin: 30px 0px 40px; text-transform: capitalize; }
h3.create_alert i { color: #7cc243; margin-right: 10px; }
.intro-text h3 { text-transform: inherit; font-weight: normal; }
ul#country_list_id { width: 23.8%; border: 1px solid #eaeaea; position: absolute; z-index: 9; background: #f3f3f3; list-style: none; margin-top: -20px; padding-left: 1%; }
ul#country_list_id li { padding: 2px; cursor: pointer; }
ul#country_list_id li:hover { background: #eaeaea; }
/** Style added on 22 june2017 **/
.filter .filter-sec .form-control.input-lg { width: 37% !important; display: inline-block !important; }
.middle-add-align { text-align: center; }
/** style added 7-july-017 **/
.left-img-des{float:left; height:85px; width:85px; border:1px solid #ccc; padding: 2px;}
.right-txt-des{ float: right; height: 100%; width: 86%;}
.left-img-des img{width:100%;}
.left-img-des-wrap{ 
display: table-cell;
 vertical-align: middle;
    height: 80px;
    text-align: center;
}
.left-img-des-wrap img{ 
     display: inline-block;
  vertical-align: middle;
  width: 100%;
    margin-bottom: 0;
     text-align: center;
}
.bordertst.left-img-des{border:none;}
.mobile-apply{display: none;}



 @media all and (max-width: 1024px) and (min-width: 767px) {
section .container .intro-text .navbar-form .form-group { width: 30%; }
.left-img-des-wrap{ 
    height: 64px;
 }
     
}
 @media(max-width:767px) {
.navbar-default .navbar-nav > li > a { padding: 0 0 0 14px; line-height: 22px; }
section .container .intro-text .navbar-form .form-group { width: auto; }
.navbar-brand { padding: 10.5px 15px 10.5px; }
section .container { padding-top: 50px; }
.listing section .container { padding-top: 10px; }
.mobile { display: block; }
.web { display: none; }
.listing .intro-text .navbar-form { margin: 10px 0px; }
.btn.btn-signin { margin-left: 0px; }
}
/** 6 june 2017 **/
.unsubs-popup h4 { color: #ff6407; font-size: 24px; }
.unsubs-popup p { font-size: 18px; padding: 0 20px; text-align: center; }
.unsubs-popup .btn.btn-default { width: 100px; padding: 5px 15px; }
 @media(min-width:768px) {
section .container { padding-top: 50px; padding-bottom: 32px; }
.listing section .container { padding-top: 10px; padding-bottom: 32px; }
section .container .intro-text .navbar-form .form-group label { display: block; }
section .intro-text .name { font-size: 4.75em; }
section .intro-text .skills { font-size: 1.75em; }
}
 @media(min-width:768px) {
.navbar-fixed-top { padding: 25px 0; -webkit-transition: padding .3s; -moz-transition: padding .3s; transition: padding .3s; }
.navbar-fixed-top .navbar-brand { font-size: 2em; -webkit-transition: all .3s; -moz-transition: all .3s; transition: all .3s; }
.navbar-fixed-top.navbar-shrink { padding: 10px 0; }
.navbar-fixed-top.navbar-shrink .navbar-brand { font-size: 1.5em; }
}
.navbar { text-transform: uppercase; font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 700; }
.navbar a:focus { outline: 0; }
.navbar .navbar-nav { letter-spacing: 1px; }
.navbar .navbar-nav li a:focus { outline: 0; }
.navbar-default, .navbar-inverse { border: 0; }
section { /*padding: 100px 0;*/ }
section h2 { margin: 0; font-size: 3em; }
section.success { color: #fff; background: #18bc9c; }
 @media(max-width:767px) {
.sign_right.alert_box { margin-top: 0px !important; }
section { padding: 15px 0; }
section.first { padding-top: 75px; }
section .container .intro-text .navbar-form .form-group { width: auto; }
.container.login .intro-text .navbar-form .form-group { width: 100%; }
ul#country_list_id { width: 94.5% !important; }
}
#portfolio .portfolio-item { right: 0; margin: 0 0 15px; }
#portfolio .portfolio-item .portfolio-link { display: block; position: relative; margin: 0 auto; max-width: 400px; }
#portfolio .portfolio-item .portfolio-link .caption { position: absolute; width: 100%; height: 100%; opacity: 0; background: rgba(24,188,156,.9); -webkit-transition: all ease .5s; -moz-transition: all ease .5s; transition: all ease .5s; }
#portfolio .portfolio-item .portfolio-link .caption:hover { opacity: 1; }
#portfolio .portfolio-item .portfolio-link .caption .caption-content { position: absolute; top: 50%; width: 100%; height: 20px; margin-top: -12px; text-align: center; font-size: 20px; color: #fff; }
#portfolio .portfolio-item .portfolio-link .caption .caption-content i { margin-top: -12px; }
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3, #portfolio .portfolio-item .portfolio-link .caption .caption-content h4 { margin: 0; }
#portfolio * { z-index: 2; }
 @media(max-width:768px) {
.sign_right.alert_box { margin-top: 0px !important; }
}
 @media(min-width:767px) {
#portfolio .portfolio-item { margin: 0 0 30px; }
sign_right.alert_box { margin-top: 0px !important; }
}
.btn-outline { margin-top: 15px; border: solid 2px #72351a; font-size: 20px; color: #72351a; background: 0 0; transition: all .3s ease-in-out; }
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active { border: solid 2px #72351a; color: #fff; background: #72351a; }
.floating-label-form-group { position: relative; margin-bottom: 0; padding-bottom: .5em; border-bottom: 1px solid #eee; }
.floating-label-form-group input, .floating-label-form-group textarea { z-index: 1; position: relative; padding-right: 0; padding-left: 0; border: 0; border-radius: 0; font-size: 1.5em; background: 0 0; box-shadow: none!important; resize: none; }
.floating-label-form-group label { display: block; z-index: 0; position: relative; top: 2em; margin: 0; font-size: .85em; line-height: 1.764705882em; vertical-align: middle; vertical-align: baseline; opacity: 0; -webkit-transition: top .3s ease, opacity .3s ease; -moz-transition: top .3s ease, opacity .3s ease; -ms-transition: top .3s ease, opacity .3s ease; transition: top .3s ease, opacity .3s ease; }
 .floating-label-form-group::not(:first-child) {
 padding-left: 14px;
 border-left: 1px solid #eee;
}
.floating-label-form-group-with-value label { top: 0; opacity: 1; }
.floating-label-form-group-with-focus label { color: #18bc9c; }
form .row:first-child .floating-label-form-group { border-top: 1px solid #eee; }
footer { color: #fff; }
footer h3 { margin-bottom: 30px; }
footer .footer-above { padding-top: 50px; background-color: #2c3e50; }
footer .footer-col { margin-bottom: 50px; }
footer .footer-below { padding: 10px 0; background-color: #333333; color: #888; font-size: 12px; }
.btn-social { display: inline-block; width: 50px; height: 50px; border: 2px solid #72351a; border-radius: 100%; text-align: center; font-size: 20px; line-height: 45px; }
.btn:focus, .btn:active, .btn.active { outline: 0; }
.scroll-top { z-index: 1049; position: fixed; right: 2%; bottom: 2%; width: 50px; height: 50px; }
.scroll-top .btn { width: 50px; height: 50px; border-radius: 100%; font-size: 20px; line-height: 28px; }
.scroll-top .btn:focus { outline: 0; }
.portfolio-modal .modal-content { padding: 100px 0; min-height: 100%; border: 0; border-radius: 0; text-align: center; background-clip: border-box; -webkit-box-shadow: none; box-shadow: none; }
.portfolio-modal .modal-content h2 { margin: 0; font-size: 3em; }
.portfolio-modal .modal-content img { margin-bottom: 30px; }
.portfolio-modal .modal-content .item-details { margin: 30px 0; }
.portfolio-modal .close-modal { position: absolute; top: 25px; right: 25px; width: 75px; height: 75px; background-color: transparent; cursor: pointer; }
.portfolio-modal .close-modal:hover { opacity: .3; }
.portfolio-modal .close-modal .lr { z-index: 1051; width: 1px; height: 75px; margin-left: 35px; background-color: #2c3e50; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.portfolio-modal .close-modal .lr .rl { z-index: 1052; width: 1px; height: 75px; background-color: #2c3e50; -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }
.location { color: #666; font-size: 14px; white-space: normal; }
.navbar-brand { height: 60px; }
.navbar-nav > li > a { line-height: 28px; }
.joblists .fa { display: inline-block; font-family: FontAwesome; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 20px; margin-left: 10px; }
ul.nav_foot { display: block; text-align: center; padding: 0; margin-bottom: 3px; }
ul.nav_foot li { list-style: none; display: inline-block; margin-right: 5px; }
ul.nav_foot li a { text-decoration: none; color: #888; }
ul.nav_foot li a:hover { color: #ccc; }
.footer-below p { font-size: 12px; margin-bottom: 0; }
.scroll-top a { display: none; }
/* Style for one page html ----- 16-04-2015 */
/* Common Style */
.cs-container { width: auto; max-width: 940px; margin: 0 auto; }
.cs-section .cs-btn-orange { background: #ff6600; *background: #ff6600;
background: -moz-linear-gradient(top, #fe9c45, #ff6600); background: -webkit-gradient(linear, 0 0, 0 100%, from(#fe9c45), to(#ff6600)); background: -webkit-linear-gradient(top, #fe9c45, #ff6600); background: -o-linear-gradient(top, #fe9c45, #ff6600); background: linear-gradient(to bottom, #fe9c45, #ff6600); background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top-color, endColorstr=$bottom-color, GradientType=0 );
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
color: #ffffff; }
.cs-section .cs-btn-orange:hover { background: #ff6600; }
.cs-section p { font-size: 16px; }
/*/////// Header Style ///////*/
.cs-fixed-header { min-height: 50px; padding: 5px 0 !important; background-color: #f2f2f2; background-image: -moz-linear-gradient(top, #f2f2f2, #e2e2e2); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e2e2e2)); background-image: -webkit-linear-gradient(top, #f2f2f2, #e2e2e2); background-image: -o-linear-gradient(top, #f2f2f2, #e2e2e2); background-image: linear-gradient(to bottom, #f2f2f2, #e2e2e2); filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe2e2e2', GradientType=0);
border-bottom: 1px solid #c7c7c7 !important; box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }
.cs-fixed-header .cs-navbar-brand { background-position: left 5px; background-repeat: no-repeat; display: inline-block; padding: 0; font-size: 20px !important; line-height: 30px !important; color: #72351A; font-family: 'Montserrat', sans-serif; font-weight: 700; text-transform: uppercase; text-shadow: 0 1px 0 #fff; }
/*/////// Content Section ///////*/
.cs-section { padding: 90px 0 40px 0; }
.cs-wrap-box { border: 1px solid #ccc; box-shadow: 0 0 10px 0 #ccc; padding: 40px; }
.cs-page-title { font-size: 24px; line-height: normal; margin: 0 0 20px 0; }
/* Job Info Section */

.cs-job_info { background: none repeat scroll 0 0 #f8f8f8; margin: 0 0 20px; padding: 20px 140px 10px 20px; position: relative; border: 1px solid #e9e9e9; }
.cs-job_info h3 { font-size: 16px; font-weight: 400; margin: 0 0 10px 0; text-transform: capitalize; }
.cs-job_info h3 strong { display: inline-block; min-width: 110px; }
.cs-job_info .cs-btn-apply { position: absolute; right: 20px; top: 38px; }
/* Job Info After Section */
.cs-job-description ul { padding-left: 20px; }
.cs-job-description ul li { list-style: circle; padding: 2px 0; }
/*/////// Footer ///////*/
.cs-footer { background-color: #f5f5f5; padding: 10px 0; font-size: 12px; }
.cs-footer p { font-size: 12px; }
.cs-nav-footer { margin: 5px 0 0 0; }
.cs-nav-footer li { display: inline; padding-right: 10px; }
.cs-powered-by { margin: 0; line-height: 24px; }
.cs-powered-by img { vertical-align: top; }
.cs-footer-logo { font-size: 14px; font-weight: bold; text-transform: uppercase; }
.cs-footer-logo img { height: 25px; }
.rightp-top-add { text-align: center; margin: 10px 0 30px 0; }
.job-date-mobile { display: none; }
.description-mob{display: none;}


/*/////// Media Style ///////*/
/*@media (max-width: 1280px) {
    #div-gpt-ad-1496968047527-0 > div{width:100% !important}
    #div-gpt-ad-1496968047527-0 iframe{width:100% !important}
}*/
@media (max-width: 1200px) {
.right-txt-des{width: 81%;}  
    .desktop-apply{ display: none;}
    .mobile-apply{display: block;}
}

@media (max-width: 1024px) {
/*** 29 may 2017 ***/
.col-lg-9 table.PHPBODY { width: 100% !important }
.filter-sec { display: none; }
.rightp-top-add { margin: 10px 0 0px 0; }
.panlv2-md3 { display: none; }
.panel2filtermb { display: none; }
.p-descript { display: none; }
.job-date-desktop { display: inline-block; }
.job-date-mobile { display: none; padding-left: 18px; }
    .description-web{display: none;} 
    .description-mob{display: block; }
    
    .joblists p{ font-size: 12px;}
    .joblists{ font-size: 11px;}
    .location{font-size: 12px;}
    .joblists a{ font-size: 14px;}
    
    .left-img-des{height:70px; width:70px;}
    .right-txt-des {width: 85%; float: left; padding-left: 20px;}
    .desktop-apply {display: none;}
    .mobile-apply{display: block;}
    .filter{display: none !important;}
}
 @media (max-width: 959px) {
.cs-container { padding: 0 20px; }
.cs-job_info h3 { font-size: 15px; }
/*.navbar-default .navbar-toggle { display: none }*/

}
 @media (max-width: 767px) {
.cs-wrap-box { padding: 20px; }
.cs-job_info { padding-right: 20px; }
.cs-job_info .cs-btn-apply { position: static; margin-top: 10px; margin-bottom: 10px; }
.cs-footer { text-align: center; }
.cs-footer .cs-nav-footer, .cs-footer .cs-powered-by { float: none !important; margin-top: 10px !important; }
/*** 11 may 2017 ***/
.col-lg-9 table.PHPBODY { width: 100% !important }
.filter-sec { display: none; }
.rightp-top-add { margin: 10px 0 0px 0; }
.panlv2-md3 { display: none; }
.survey-div { width: 100% !important; }
.radio-group-class { width: 100% !important }
.edit-text { width: 100% !important; }
.modal-dialog { width: 100% !important; padding: 20px; }
.radio-group-class li input { float: left; top: 0px !important; width: 10% !important; }
.radio-group-class li span { width: 80% !important }
.radio-group-class li { padding: 5px; list-style: none; font-size: 16px; /* float: left; */
clear: both; margin-bottom: 10px; display: flex; width: 100%; }
/*.navbar-default .navbar-toggle { display: none; }*/
.navbar-header { text-align: center; width: 100%; }
.navbar-default .navbar-toggle {margin:7px 0 0;}
ul.navbar-right{margin-top:0px;}
ul.navbar-right ul.mobile { padding: 0;}
ul.navbar-right ul.mobile li{padding: 8px 16px; }
.navbar-header{padding:6px;}
ul.navbar-right li{ padding:3px 0px; background: #eee none repeat scroll 0 0;  margin-bottom: 1px;}
.navbar-brand { float: none; }
.right-txt-des { width: 74%;}
.left-img-des{width: 70px; height: 70px;}
.left-img-des-wrap {
  height: 64px;}
     .job-date-desktop {
  margin-top: 5px;}
.mobile-apply {
  margin-top: 5px;}

}
 @media (max-width: 479px) {
.cs-container { padding: 0 10px; }
.cs-wrap-box { padding: 15px; }
.cs-job_info { padding: 15px 15px 5px 15px; }
.cs-job_info h3 strong { display: block; min-width: inherit; }
.right-txt-des {
 width: 72%;}
     .joblists .col-lg-2 {
  clear: both;
}
.job-date-mobile{float: none !important; text-align: right; margin-bottom: 10px;}
     .middle-add-align{margin-bottom: 10px;
        
     }
     .tablewdth{width:100%;}
     
}
 @media (max-width:375px) {
.sumbit-popup-set .modal-dialog { width: 95%; }
}
/* Style for one page html ----- END */

.hide-loader{display:none;}
